@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-montserrat);
}

html {
  scroll-behavior: smooth;
}